<template>
    <div>
        <site-header></site-header>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <button
                        type="button"
                        class="btn btn-success"
                        data-toggle="modal"
                        @click="createFile(form)"
                    >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Upload a New File
                    </button>
                </div>
                <div class="col-md-9">
                    <search-form @sendSearchTags="getSearchResult"></search-form>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                   <related-tags :relatedTags="relatedTags"></related-tags>
                </div>
                <div class="col-md-9">
                    <search-resault :searchResult="searchResult" @addNewFile="addTag" :pageCount="pageCount" @nextPage="goToPage"></search-resault>
                </div>
            </div>
        </div>

        <add-file
            :searchStringData="searchStringData"
            @addNewFile="addTag"
            @editedFile="sendEdited"
            @fileCreated="sendEdited"
            @tagRemoved="sendEdited"
            @fileRemoved="sendEdited"
        >
        </add-file>
    </div>
</template>


<script>
    import axios            from "axios"
    import AddFile          from '../modals/AddFile'
    import RelatedTags      from "./RelatedTags";
    import SearchResault    from "./SearchResault";
    import SiteHeader       from "./SiteHeader";
    import SearchForm       from "./SearchForm";

    export default {
        components: {
            AddFile,
            SearchForm,
            SearchResault,
            RelatedTags,
            SiteHeader
        },
        name: "home",
        data(){
            return {
                form: {
                    id: null,
                    file: '',
                    name: '',
                    tags: []
                },
                searchResult: [],
                relatedTags: [],
                pageCount: null,
                searchStringData: ''
            }
        },
        methods: {
            addTag(tagName){
                this.form.tags.push(tagName);
            },
            removeTag(index){
                this.form.tags.splice(index, 1);
            },
            getSearchResult(searchString){
                if(!searchString) searchString = '';
                let sendSearch = encodeURIComponent(searchString);
                this.searchStringData = searchString;
                axios.get(`/api/1.0/search?search=${sendSearch}&page=1&limit=5`).then(response => {
                    this.searchResult = response.data.files;
                    this.pageCount = response.data.pages_count;
                }, error => {
                    console.log(error)
                });

                axios.get(`/api/1.0/relatedTags?search=${sendSearch}`).then(response => {
                    this.relatedTags = response.data.tags;
                }, error => {
                    console.log(error)
                });
            },

            goToPage(index){
                axios.get(`/api/1.0/search?search=${this.searchStringData}&page=${index}&limit=5`).then(response => {
                    this.searchResult = response.data.files;
                    this.pageCount = response.data.pages_count;
                }, error => {
                    console.log(error)
                });
            },
            sendEdited(){
                this.getSearchResult(this.searchStringData);
            },
            createFile(form) {
                form.tags = [];
                this.$modal.show('add-file', form)
            }
        },
        created(){
            this.getSearchResult();
        }
    }
</script>

<style scoped lang="scss">

</style>