<template>
    <div>
        <site-header></site-header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-light mb-3 card-width" style="max-width: 18rem;">
                        <div class="card-header">{{file.physical_name}}</div>
                        <div class="card-body">
                            <h5 class="card-title">Name: {{file.name}}</h5>
                            <h6>Tags</h6>
                            <ul>
                                <li v-for="tag in file.tags">{{tag.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</template>

<script>
    import SiteHeader       from "./SiteHeader";
    import axios from 'axios';
    export default {
        name: "one-file",
        data(){
            return {
                file: {
                    name: '',
                    physical_name: '',
                    tags: [],
                    url: ''
                }
            }
        },
        components: {
            SiteHeader
        },
        methods: {
            getOneFile(){
                axios.get(`/api/1.0/get/${this.$route.params.id}`).then(response => {
                    this.file = response.data;
                }, error => {
                    console.log(error);
                });
            }
        },
        created(){
            this.getOneFile();
        }
    }
</script>

<style scoped>
    .card-width{
        width: 500px;
        max-width: 500px!important;
    }
</style>