<template>
    <div>
        <h3>Related Tags</h3>
        <ul class="list-group mb-3">
            <li v-for="(tag, index) in relatedTags" class="list-group-item d-flex justify-content-between lh-condensed">
                <span>{{tag.name}} </span>({{tag.count}})
            </li>
        </ul>
    </div>
</template>


<script>
    export default {
        name: "related-tags",
        props: ['relatedTags'],
        data(){
            return {

            }
        },
        methods:{
        },
        mounted(){

        }
    }
</script>

<style scoped>

</style>