<template>
    <div>
        <h3>Search result</h3>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media text-muted pt-3" v-for="(file, index) in searchResult">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark">
                            <i class="fa fa-file mr-2"></i>
                            <a class="file-name" @click="$modal.show('add-file', file)"  href="javascript: void(0)" >{{file.name}}</a>
                            <ul class="tags-list">
                                <li v-for="tag in file.tags">{{tag.name}}</li>
                            </ul>
                        </strong>
                        <button class="btn btn-primary" @click="$modal.show('add-file', file)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" v-for="(page, index) in pageCount">
                    <a class="page-link" href="#" @click.prevent="goToPage(index + 1)">{{ index + 1 }}</a>
                </li>
            </ul>
        </nav>

    </div>
</template>

<script>
    import AddFile from '../modals/AddFile'
    export default {
        name: "search-resault",
        props: {
            searchResult: {
                type: Array,
                default(){
                    return [];
                }
            },
            pageCount: {
                type: Number,
                default(){
                    return null;
                }
            }
        },
        components:{
            AddFile
        },
        data(){
            return{
                file: {},
                edit: true
            }
        },
        methods: {
            goToPage(index) {
                this.$emit('nextPage', index);
            }
        }
    }
</script>

<style scoped lang="scss">
    .file-name{
        font-size: 18px;
    }
</style>