<template>
    <div class="search-form-template">
        <div>
            <form  @submit.prevent="sendSearchTags">
                <div class="form-row">
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="+anothertag -excludetag" v-model="searchResult" @input="throttledMethod(searchResult, self)">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                    </div>
                </div>
            </form>
            <ul class="list-group">
                <li v-for="tag in tags" @click="addTagInSearch(tag)" class="list-group-item">{{tag.name}}</li>
            </ul>
        </div>

    </div>


</template>

<script>
    import Multiselect from 'vue-multiselect/src/Multiselect'
    import axios from 'axios'
    import _ from 'lodash'

    export default {
        name: "search-form",
        components: {
            Multiselect
        },
        data(){
            return{
                searchResult: '',
                value: '',
                tags: [],
                self: this
            }
        },
        methods: {
            sendSearchTags(){
                this.$emit('sendSearchTags', this.searchResult);
                this.tags = [];
            },
            nameWithLang ({name}) {
                return `${name}`
            },
            throttledMethod: _.debounce((input, self) => {
                let tags = self.getTagSearch();
                if(tags) {
                    let lastTag = String(tags[tags.length -1]).replace(/^([\+|\-])\"/i, "");
                    axios.get(`/api/1.0/tags?name=${lastTag}`).then(response => {
                        self.tags = response.data.tags;
                    }, error => {
                        console.log(error);
                    })
                }
            }, 700),
            addTagInSearch(tag){
                let tags = this.getTagSearch();
                this.tags = [];
                if(tags) {
                    tags[tags.length -1] = String(tags[tags.length -1]).replace(/"(\w+)/i, `"${tag.name}" `);
                    this.searchResult = tags.join(' ');
                }
            },
            getTagSearch(){
                let tags = String(this.searchResult).match(/([\+|\-])\"(\w+)/g);

                if(tags && tags.length > 0) {
                    return tags;
                }
                return [];
            }
        }
    }
</script>

<style scoped lang="scss">
    .custom__tag{
        background: #2da745;
        padding: 5px;
        border-radius: 3px;
        color: #fff;
    }
    .custom__remove{
        cursor: pointer;
    }
    .search-btn {
        position: absolute;
        right: 0;
        top: 0;
    }
    .search-form-template{
        position: relative;
        .list-group{
            margin-top: 10px;
            position: absolute;
            left: 0;
            top: 35px;
            width: 95%;
            z-index: 10;
            li{
                cursor: pointer;
            }
        }
    }
    .target-list{

    }
</style>