<template>
    <modal name="add-file" height="auto" @before-open="openModal">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New file</h5>
            <button type="button" class="close" @click="hideModal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form @submit.prevent="checkMethod" class="file-form">
            <div class="input-group mb-3">
                <div class="fileInput" v-if="form.id">
                    <p v-if="form.url"><a :href="form.url" target="_blank">Attached file</a></p>
                    <input ref="file" type="file" v-on:change="setFile">
                </div>
                <div class="fileInput" v-else>
                    <p v-if="noChange">{{form.url}}</p>
                    <input required ref="file" id="fileInput" type="file" v-on:change="setFile">
                </div>
            </div>

            <div class="mb-3">
                <label>File name</label>
                <input type="text" class="form-control"  placeholder="File name" required="" v-model="form.name" @input="deleteSymbol">
            </div>

            <div class="mb-3">
                <label>File tag</label>

                <ul class="tag-list">
                   <span v-if="openMessage" class="message">
                       <p>Are you sure you want to delete the tag?</p>
                       <span>
                           <button type="button" class="btn btn-danger" @click="removeTagServer(form.id, tagIndex)">Delete</button>
                           <button type="button" class="btn btn-primary" @click="openMessage = false">Cancel</button>
                       </span>
                   </span>
                    <li v-for="(tag, index) in form.tags" v-if="showLi">

                        <button v-if="form.id" type="button" class="btn btn-danger" @click="openMessageBlock(tag.id, index)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <button v-else="" type="button" class="btn btn-danger" @click="removeTag(index)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>

                        <span class="badge badge-info" v-if="tag.name">{{tag.name}} </span>
                        <span class="badge badge-info" v-else>{{tag}}</span>
                    </li>
                </ul>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button
                            type="button"
                            class="btn btn-success"
                            @click="addTag(form.id)"
                        >
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Tag name"
                        v-model="tagInput"
                        @input="deleteSymbol()"
                    >
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" v-if="form.id" @click="openMessageFile = true">Delete File</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="hideModal">Close</button>
                    <span v-if="openMessageFile" class="message">
                       <p>Are you sure you want to delete the file?</p>
                       <span>
                           <button type="button" class="btn btn-danger" @click="removeFile(form.id)">Delete</button>
                           <button type="button" class="btn btn-primary" @click="openMessageFile = false">Cancel</button>
                       </span>
                   </span>
                </div>

            </div>
        </form>

    </modal>
</template>

<script>
    import axios from 'axios'
    import toFormData from '../../plugins/object-to-formdata'
    export default {
        name: "add-file",
        props: {
            info: {
                type: Object,
                default(){
                    return {}
                }
            },
        },
        data(){
            return{
                tagInput: '',
                fileName: '',
                form: {
                    file: null
                },
                noChange: true,
                openMessage: false,
                openMessageFile: false,
                tagId: null,
                tagsView: [],
                tagIndex: null,
                showLi: true
            }
        },
        methods:{
            addTag(formId){
                if(this.tagInput.length < 1) return false;
                const replaceQ = this.tagInput.replace(/\"|\ /g, '');
                if(formId) {
                    this.form.tags.push({
                        name: replaceQ,
                        id: 'newTag'
                    });
                } else{
                    this.form.tags.push(replaceQ);
                }

                this.tagInput = '';
            },
            removeTag(index) {
                this.form.tags.splice(index, 1);
            },
            hideModal(){
                this.$modal.hide('add-file');
            },
            openModal(event) {
                this.form.name = '';
                this.form.tags = [];
                this.form = Object.assign({}, event.params);
                this.openMessage = false;
                this.openMessageFile = false;
            },
            createFile(){
                this.form.tags = this.form.tags.join(',');
                let form = toFormData(this.form);
                this.showLi = false;
                axios.post('/api/1.0/create', form).then(response => {
                    this.hideModal();
                    this.form.tags = this.form.tags.split(',');
                    this.showLi = true;
                    this.form.name = '';
                    this.form.tags = [];
                    this.$emit('fileCreated');
                }, error => {
                    console.log(error);
                });
            },
            setFile(file){
                this.form.file = file.target.files[0];
                this.noChange = false;
            },
            removeTagServer(fileId, index){
                this.openMessage = false;
                axios.delete(`/api/1.0/delete/${fileId}/${this.tagId}`).then(response => {
                    this.form.tags.splice(index, 1);
                    this.$emit('tagRemoved');
                }, error => {
                    console.log(error);
                });
            },

            openMessageBlock(tagId, index){
                this.tagIndex = index;
                this.openMessage = true;
                this.tagId = tagId;
            },
            editFile(){
                let tags = [];
                let _form;
                _form = Object.assign({}, );
                for(let item of this.form.tags) {
                    tags.push(item.name);
                }
                _form.tags = tags.join(',');
                let form = toFormData(_form);


                this.showLi = false;
                axios.post(`/api/1.0/update/${this.form.id}`, form).then(response => {
                    this.showLi = true;
                    this.hideModal();
                    this.form.name = '';
                    this.form.tags = [];
                    this.$emit('editedFile');
                }, error => {
                    console.log(error);
                });
            },
            checkMethod() {
                if(this.form.id) {
                    this.editFile();
                } else {
                    this.createFile();
                }
            },
            removeFile(fileId){
                axios.delete(`/api/1.0/delete/${fileId}`).then(response => {
                    this.$emit('fileRemoved');
                    this.openMessageFile = false;
                    this.hideModal();
                }, error => {
                    console.log(error);
                });
            },
            deleteSymbol(){
                this.form.name = this.form.name.replace(/\"/g, '');
                this.form.name = this.form.name.replace(/^\s/g, '');
                this.tagInput = this.tagInput.replace(/\"/g, '');
                this.tagInput = this.tagInput.replace(/^\s/g, '');
            }
        }
    }
</script>

<style scoped lang="scss">

    .file-form{
        padding: 15px;
    }
    .tag-list{
        li{
            font-size: 20px;
            margin-bottom: 10px;
        }
        list-style: none;
    }
    .fileInput{
        position: relative;
        p{
            position: absolute;
            left: 100px;
            background: #fff;
            padding-left: 25px;
        }
    }
    .message{
        overflow: hidden;
        display: block;
        text-align: center;
        background: #eaeaea;
        padding: 10px;
        margin: 0 0 10px 0;
        border-radius: 4px;
    }
</style>